  <header class="header header-transparent header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
      <li>
        <a data-toggle="menu" href="#ui_menu">
          <span class="icon icon-lg">menu</span>
        </a>
      </li>
    </ul>
    {{#link-to 'application' class="header-logo header-affix-hide margin-left-no margin-right-no" data-offset-top="213" data-spy="affix" }}Ember Engines Show Case October 2016{{/link-to}}
  </header>

  <nav aria-hidden="true" class="menu" id="ui_menu" tabindex="-1">
    <div class="menu-scroll">
      <div class="menu-content">
          {{#link-to 'application' class="menu-logo" }}Ember Engines Show Case October 2016{{/link-to}}
          <ul class="nav">
          <li>{{#link-to 'presentation'}}Presentation{{/link-to}}</li>
          <li>{{#link-to 'hello-inrepo-engine'}}hello-inrepo-engine{{/link-to}}</li>
          <li>{{#link-to 'hello-engine'}}eccegordo/hello-engine{{/link-to}}</li>
          <li>{{#link-to 'hello-routable-engine'}}eccegordo/hello-routable-engine{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="content">
    <div class="container">
      <section class="content-inner margin-top-no">
        <div class="row">
          <div class="col-lg-12 col-md-12">

            <main class="content">
              <div class="container">
                <section class="content-inner">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">

                      {{#if githubAuth.token}}
                        {{outlet}}
                      {{else}}
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner">
                                  <h3>This application requires access token to talk to api</h3>
                                  <div class="form-group form-group-label">
                                      <label class="floating-label" for="token">Please provide a github personal access token </label>
                                      {{input class="form-control" id="token" type="text" value=tokenValue}}
                                      <br>
                                      <small>Need a token? <a href="https://github.com/settings/tokens">https://github.com/settings/tokens</a></small>
                                  </div>
                                </div>
                                <div class="card-action"> <button {{action "updateToken" tokenValue}} class="btn btn-flat btn-brand">Set Token</button> </div>
                            </div>
                        </div>
                      {{/if}}
                    </div>
                  </div>
                </section>
              </div>
            </main>

          </div>
        </div>
      </section>
    </div>
  </main>
